.privacy-policy-container {
  background-color: #222; /* Dark background color */
  color: white; /* White text color */
  padding: 20px;
  min-height: 100vh;
}

.privacy-policy-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Slight background opacity */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Light border shadow */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Add additional styling for different content sections if needed */

/* Add this to your Privacy.css file */
.back-button {
  background-color: black; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 20px; /* Adjust spacing as needed */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.2s, transform 0.2s; /* Add transitions for a hover effect */

  /* Hover effect */
  &:hover {
    background-color: rgba(0, 0, 0, 0.64); /* Darker green on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
  }
}
